# Игнор файлы для Python
__pycache__
.venv

# Игнор файлы build C (C++)
build/
*.o
*.so
*.dll

# Игнор файлы обработки
*.txt
*.zip

# Игнор файлы источники
*.pdf

# Исключения
!CMakeLists.txt